extends ./layout.pug

block body
 div
   img(src=content.image.url)
   h1
    !=content["key-text"]
   p
    !=DOM.StructuredText.asText(content["rich-text"], ctx.linkResolver)
   
   !=DOM.StructuredText.asHtml(content["rich-text"], ctx.linkResolver)


   h2 complex type with default value (should see nothing because linkURL is null)

   !=content.link.url

   h2 slices

   for slice in content.slicezone
    case slice.sliceType
      when 'singlefieldslice'
        .single-field-slice
          !=DOM.StructuredText.asHtml(slice.value)
      
      when 'simpleslice'
        .simple-slice
          for block in slice.value
            .simple-slice-block
              img(src=block.illu.url)
              !=DOM.StructuredText.asHtml(block.title, ctx.linkResolver)
              !=DOM.StructuredText.asHtml(block.description, ctx.linkResolver)
      
      when 'compositeslice'
        .composite-slice
          h2
            != slice.primary.title
          for item in slice.items
            .feature
              h3
                !=item["feature-name"]
              
              !=DOM.StructuredText.asHtml(item["feature-description"], ctx.linkResolver)